################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apps/src/BluePenguin.Catalogue.Transformer/bin/Debug/net7.0
/Apps/src/BluePenguin.Catalogue.Transformer/obj
/Apps/src/BluePenguin.Catalogue.Transformer/.vs/BluePenguin.Catalogue.Transformer
/Apps/src/BluePenguin.Catalogue.Transformer/.vs/ProjectEvaluation
/Apps/src/BluePenguin.Catalogue.AzureFunction/Properties/PublishProfiles
/Apps/src/BluePenguin.Catalogue.AzureFunction/Properties/ServiceDependencies/BluePenguinCatalogue - Zip Deploy
/Apps/src/BluePenguin.Catalogue.AzureFunction/Properties/serviceDependencies.BluePenguinCatalogue - Zip Deploy.json
/Apps/src/BluePenguin.Catalogue.AzureFunction/Properties/serviceDependencies.json
/Apps/src/.vs/BluePenguin.Catalogue/FileContentIndex
/Apps/src/.vs/BluePenguin.Catalogue/v17/.suo
