################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apps/src/BluePenguin.Catalogue.Transformer/bin/Debug/net7.0
/Apps/src/BluePenguin.Catalogue.Transformer/obj
/Apps/src/BluePenguin.Catalogue.Transformer/.vs/BluePenguin.Catalogue.Transformer
/Apps/src/BluePenguin.Catalogue.Transformer/.vs/ProjectEvaluation
